@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ft {
    font-family: 'twayair';
}

article
{
    display: flex;
    flex-direction: column;
}

.banner_image {
    width: 600px;
    height: 600px;
}

.question,
.result
{
    display: none;
}

.share {
    margin: 0 auto;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;
}

@keyframes logo_up {
    0% {
        top: 200px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: 200px;
    }
}

.animation {
    width: 300px;
    height: 300px;
    background-image: url(image/test.jpeg);
    background-size: cover;
}

.animation_1 {
    animation-name: logo_up;
    animation-duration: 1s;
    display: inline-block;
}